html {
    font-size: 3.5vmax;
    background-color: rgb(202, 202, 202);
    text-align: center;
    transition: 0.3s;
    cursor: default;
}

button {
    font-size: 3.5vmax;
    background-color: inherit;
    border: none;
    transition: 0.3s;
    padding: 0px;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 0px;
}